@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #972525;
  --secondary-color: #edb138;
  --accent-color: #657cbd;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-accent-color {
  background-color: var(--accent-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-accent-color {
  color: var(--accent-color);
}

/* Add more color applications as needed */
